.register {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.register .title {
  margin: 10px 0;
}
.register .register-button {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
